version: '3'

services:

  split_trip_web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: split_trip_web
    volumes:
      - ${APP_PATH_HOST}:${APP_PATH_CONTAINER}
    ports:
      - ${WEB_PORT}:80
      - ${WEB_SECURE_PORT}:443
    networks:
      - split_trip
    extra_hosts:
      - "host.docker.internal:host-gateway"

  split_trip_fpm:
    build:
      context: ./fpm
      dockerfile: Dockerfile
    container_name: split_trip_fpm
    volumes:
      - ${APP_PATH_HOST}:${APP_PATH_CONTAINER}
    ports:
      - ${FPM_PORT}:9000
    networks:
      - split_trip

  split_trip_redis:
    image: redis:5
    container_name: split_trip_redis
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - split_trip

  split_trip_db_pg:
    build:
      context: ./pg
      dockerfile: Dockerfile
    container_name: split_trip_db
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./database_pg:/var/lib/postgresql/data/pgdata
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - split_trip

networks:
  split_trip:
    driver: bridge